body {
 background: rgba(255, 255, 255, .9);
 margin: 0;
 color: #000;
 font-family: 'Open Sans', sans-serif;
}

.header::after {
 content: '';
 height: 80vh;
 width: 100%;
 background-image: url(../img/header_bg.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 display: block;
 filter: blur(10px);
 -webkit-filter: blur(10px);
 transition: all 1000ms;
}

.header:hover::after {
 filter: blur(0px);
 -webkit-filter: blur(0px);
}

.header:hover .header-content {
 filter: blur(2px);
 -webkit-filter: blur(2px);
}

.header-content {
 position: absolute;
 z-index: 1;
 top: 10%;
 left: 50%;
 margin-top: 40px;
 margin-left: -145px;
 text-align: center;
 width: 300px;
 height: 350px;
 transition: all 1000ms;
}

.header-content .logo {
 height: 70px;
 width: 150px;
}

.title {
 font-family: 'Oswald', sans-serif;
 font-size: 2rem;
}

.header-content .text {
 line-height: 1.5;
 margin-top: 1rem;
}

.container {
 max-width: 960;
 margin: auto;
 overflow: hidden;
 padding: 3rem 1rem;
}

.grid-4 {
 display: grid;
 /* grid-template-columns: repear(3, 1fr); */
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 10px;
}

.grid-3 {
 display: grid;
 /* grid-template-columns: repear(3, 1fr); */
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 20px;
}

.grid-2 {
 display: grid;
 grid-gap: 20px;
 grid-template-columns: repeat(2, 1fr);
}

.bg-light {
 background: #fff;
 color: #333;
}

.bg-dark {
 background: #2f3542;
 color: #fff;
}

.services {
 padding: 2rem 0;
}

.text-center {
 text-align: center;
 margin: auto;
}

a:link {
 text-decoration: none;
}

.social {
 /* position: absolute; */
 /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
 /* left: 0; */
 /* Establecemos la barra en la izquierda */
 /* top: 200px; */
 /* Bajamos la barra 200px de arriba a abajo */
 /* z-index: 2000; */
 /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
 list-style: none;
}

.social ul li a {
 display: inline-block;
 grid-gap: 20px;
 color: #fff;
 background: #000;
 padding: 10px 15px;
 text-decoration: none;
 -webkit-transition: all 500ms ease;
 -o-transition: all 500ms ease;
 transition: all 500ms ease;
 /* Establecemos una transición a todas las propiedades */
}

.social ul li .fa-facebook {
 background: #3b5998;
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .fa-twitter {
 background: #00abf0;
}

.social ul li .fa-instagram {
 background: #d95232;
}

.social ul li .fa-youtube {
 background: #ae181f;
}


/* .social ul li .icon-mail {
 background: #666666;
} */

.social ul li a:hover {
 background: rgb(125, 125, 155);
 /* Cambiamos el fondo cuando el usuario pase el mouse */
 padding: 10px 30px;
 /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

footer {
 padding: 2.2rem;
}

footer p {
 margin: 0;
}

@media(max-width: 560px) {
 .header::after {
  height: 30vh;
 }
 .header-content {
  top: 5%;
  margin-top: 1.5px;
  color: #fff;
 }
 .header-content .logo {
  height: 50px;
  width: 100px;
 }
 .title {
  font-size: 2rem;
 }
 .header-content .text {
  display: none;
 }
 .grid-4,
 .grid-3,
 .grid-2 {
  grid-template-columns: 1fr;
 }
 .services {
  padding: 0.5rem 1rem;
 }
}

@media(max-height:500px) {
 .header-content .text {
  display: none;
 }
 .header-content {
  top: 0;
  margin-top: 50px;
 }
}